

DATABASE_URL=
PGSSL_DISABLED=true

APP_SECRET=

ADMIN_PASSWORD=
ADMIN_PASSWORD_HASH=


MP_CLIENT_ID=
MP_CLIENT_SECRET=
MP_REDIRECT_URI=https://caiolivio.evolvify.cloud/api/admin/mp/callback
MP_WEBHOOK_SECRET=

MP_ACCESS_TOKEN=

URL_SITE=https://caiolivio.evolvify.cloud


URL_WEBHOOK=https://caiolivio.evolvify.cloud/api/webhook

ORIGENS_PERMITIDAS=https://caiolivio.evolvify.cloud,https://www.caiolivio.evolvify.cloud

PORTA=3005
RESERVATION_MINUTES=30
